.app-wrapper {
  font-family: "Rubik", sans-serif;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: ; */
  grid-template-areas:
    "h h"
    "n c";
}
.content {
  grid-area: c;
  background-color: rgb(46, 44, 44);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-bottom: 10px;
}
.App {
  height: 100%;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121212;
  padding: 10pxl;
}
body {
  margin: 0;
}
